.teste {
    color: red !important;
}
/* .open {
    color: #fff;
    background-color: #286090;
    background-image: none;
    border-color: #204d74;
    position: absolute !important;
    z-index: 1    !important;
  } */