<nav class="navbar navbar-inverse" style="padding:8px;font-size: 17px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand" style="font-size: 20px; color: whitesmoke">Recipe Book</a>
        </div>        
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" (click)="onRecipeClick('recipe')">Recipes</a></li>
                <li><a href="#" (click)="onShoppingClick('shopping')">Shopping List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li appDropdown class="dropdown">
                    <a href="#" class="dropdown-toggle" role="button">Settings <span class="caret"></span></a>
                    <ul class="dropdown-menu" >
                        <li><a href="#">Save</a></li>
                        <li><a href="#">Fetch</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>