<div class="row">
    <div class="col-xs-12">
        <button 
            class="btn btn-success"
            (click)="addNew()"
        >
            Add a new recipe
        </button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12" *ngFor="let recipe of recipes; index as i"> 
        <a 
            [routerLink]="['./', 'detail', i]"
            routerLinkActive="active"
            class="list-group-item clearfix"
            [ngStyle]='{marginTop: i === 0 && "10px"}' 
            style='margin-bottom: 10px;' 
        >
            <div class="pull-left">
                <h4 class="list-group-item-heading" style="max-width: 240px;">{{recipe.name}}</h4>
                <p class="list-group-item-text" style="max-width: 240px;">{{recipe.description}}</p>
            </div>
            <span class="pull-right">
                <img 
                    [src]="recipe.imagePath"
                    alt="recipe-img"
                    class="img-responsive"
                    style="min-height: 170px; max-height: 200px; max-width: 170px; display: block;"
                >
            </span>
        </a>
    </div>
</div>