<div *ngIf="recipe !== undefined; else noRecipe">
    <div class="row" style="padding-bottom: 10px;">
        <div class="col-xs-12">
            <img [src]="recipe.imagePath" alt="recipe-image" class="img-responsive img-rounded" style="min-height: 650px; max-width: 652px; min-width: 652px;" >
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9">
            <h1 >{{recipe.name}}</h1>
        </div>
        <div class="col-xs-3" >
            <div class="btn-group" appDropdown style="padding-top: 25px; padding-left: 10px;">
                <button 
                    class="btn btn-primary dropdown-toggle"
                >
                    Manage recipe 

                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu open">
                    <li><a href="#" (click)="addToSl(recipe)">To shopping list</a></li>
                    <li><a href="#">Edit</a></li>
                    <li><a href="#">Delete</a></li>
                </ul>
            </div>  
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-xs-12">
            <div class="btn-group">
                <button 
                    class="btn btn-primary dropdown-toggle"
                >
                    Manage recipe 
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li href="#">Add to shopping list</li>
                    <li href="#">Edit</li>
                    <li href="#">Delte</li>
                </ul>
            </div>
        </div>
    </div> -->

    <div class="row">
        <div class="col-xs-12">
            <h4>Description</h4>
        </div>
    </div>
    <div class="row" style="margin-bottom: 15px;">
        <div class="col-xs-12">
            <h5>{{recipe.description}}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4>Ingredients</h4>
        </div>
    </div>
    <div class="row" style="margin-bottom: 15px;">
        <div class="col-xs-12">
            <ul class="list-group">
                <li 
                    class="list-group-item"
                    *ngFor="let ingredients of recipe.ingredients"
                >
                    {{ingredients.name}} - {{ingredients.amount}}
                </li>
            </ul>
        </div>
    </div>
</div>

<ng-template #noRecipe>
    <div class="row">
        <div class="col-xs-12">
            <h2 style="color:gray">Click in a recipe to see more details</h2>
        </div>
    </div>
</ng-template>